{% import "bootstrap/wtf.html" as wtf %}
{% extends 'base.html' %}
{% block content %}
{% if msg %}
</div>
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
    	{{ msg }}
    </div>
    <div class="col-sm-4">
    </div>
</div>
{% endif %}
<div class="row">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
	{% if nexturl %}
    	<form role="form" method="POST" action="/login?next={{ nexturl }}">
    {% else %}
    	<form role="form" method="POST" action="/login">
    {% endif %}
            {{ form.hidden_tag() }}
            {{ wtf.form_field(form.username, class='form-control') }}
            {{ wtf.form_field(form.password, class='form-control') }}
            {{ wtf.form_field(form.remember, class='form-control')}}
            <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
        </form>
    </div>
    <div class="col-sm-4">
    </div>
</div>
{% endblock %}
